<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EEEX CMS</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<iframe src="" frameborder="0"></iframe>
<!--    <div id="app">
        <input type="text" v-model="newPageName">
        <button v-on:click="addFile" class="add">Создать страницу</button>
        <div v-for="page in pageList">
            <h1>{{page}} <a href="#" v-on:click="deletePage(page)">(X)</a> </h1>
        </div>
    </div>-->
    <script src="bundle.js"></script>
</body>
</html>